@charset "utf-8";

body
{
	background: url("../Hinh/bgdangnhap.jpg");
	background-size: cover;
}
.khung
{
	width: 100%;
	margin-top: 20px;
}
.khung .dangnhap
{
	width: 400px;
	height: 500px;
	margin: 40px auto;
}
.tieude
{
	font-size: 80px;
	color: white;
}
.taikhoan
{
	margin: 60px auto 0px;
	width: 100%;
	height: 100px;
	background: transparent; 
}
.taikhoan .trongsuot #acc
{
	background: url("../Hinh/acc.png") no-repeat;
	border:none;
	outline:none;
	color: white;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	border-bottom:1px solid #ccc;
}
.taikhoan .trongsuot #pass
{
	background: url("../Hinh/pass.png") no-repeat;
	border:none;
	outline:none;
	color: white;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #ccc;
	padding-left: 50px;
}
.khung .dangnhap .nutsubmit
{
	margin-top: 80px;
	width: 260px;
	height: 40px;
	border-radius: 20px;
	background: #FF4700;
	border: none;
	color: white;
	font-weight: bold;
}
::placeholder
{
	color: white;
	opacity: 0.7;
}
.khung .dangnhap #chkGDN
{
	background: transparent;
	width: 20px;
	height: 20px;
	margin-top: 40px;
}
.khung .dangnhap #lableDN
{
	margin-left: 10px;
	font-size: 20px;
	color: white;
}
