@model List<TaiGameMP.ViewModel.GameView>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var tentukhoa = ViewBag.Keyword;
}
<section class="ftco-section">
    <div class="KhungChinh">
        <h2 class="mb-4">Từ khóa bạn tìm: @tentukhoa </h2>
        <div class="col-md-12 d-flex align-items-center">
            <div class="row">


                @foreach (var item in Model)
                {
                      
                        
                            
                                <a href="/chi-tiet/@item.UrlTitle-@item.ID">
                                    <p>
                                        <img src="@item.Image" alt="HinhGame">
                                        @item.Name
                                    </p>

                                </a>
                            

                }
            </div>
        </div>
    </div>
</section>
